



*{
  box-sizing: border-box;
}


.App {
  /* text-align: center; */
  
  height: 100vh;
  width: 100vw;
  background-image: url('./minibackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  
}

.top > *{
  height: 2rem;
}

button {
  border-radius: 5px;
}

.bottom > button {
  height: 2rem;
}

.top 

.container {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  width: 80%;
  
}

.bottom {
  text-align: center;
}

.list {
  
  text-align: left;
  padding: 1rem;
  min-width: 250px;
  max-width: 350px;
  min-height: 150px;
}


button:hover {
  background-color: lightcoral;
}

.item {
    background-color: lightgray;
    margin: 5px;
    border-radius: 3px;
    
    
  }

h3 {
  display: inline;
  color: #333
  
}

@media (min-width : 576px) {
  .App {
    background-image: url('./background.jpg');
  }
  
  .item {
    background-color: lightgray;
    margin: 5px;
    border-radius: 3px;
    
    
  }

  .container {
    justify-content: center;
    align-items: center;
  }

  h3 {
    color: #333;
  }

  


}



@media (min-width : 768px) {


}

@media (min-width : 992px){


}




